{% extends "base.html" %}

{% block title %}FMS - Mobs{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2 class="mb-3">Mobs List</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Paddock</th>
                    <th scope="col"># Stock</th>
                    <th scope="col">Avg Weight</th>
                </tr>
            </thead>
            <tbody>
                {% for mob in mobs %}
                    <tr>
                        <td>{{ mob.name }}</td>
                        <td>{{ mob.paddock if mob.paddock else '-' }}</td>
                        <td>{{ mob.num_stock if mob.num_stock else '-' }}</td>
                        <td>{{ mob.avg_weight if mob.avg_weight else '-' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}