{% extends "base.html" %}

{% block title %}FMS - Paddocks List{% endblock %}

{% block content %}
    <div class="container mt-4">
        <!-- Heading for the paddocks list -->
        <h1>Paddocks List</h1>
        
        <!-- Form for advancing the date -->
        <form action="{{ url_for('advance_date') }}" method="post">
            <button type="submit" class="btn btn-secondary mb-3">Advance Date</button>
        </form>
        
        <!-- Table displaying paddocks information -->
        <table class="table table-striped table-bordered">
            <thead>
                <!-- Table header row -->
                <tr>
                    <th scope="col">Name</th> <!-- Column header for paddock names -->
                    <th scope="col">Mob</th> <!-- Column header for the name of the mob occupying the paddock -->
                    <th scope="col"># Stock</th> <!-- Column header for the number of stock -->
                    <th scope="col">Area (Ha)</th> <!-- Column header for the area of the paddock in hectares -->
                    <th scope="col">DM/ha</th> <!-- Column header for dry matter per hectare -->
                    <th scope="col">Total DM</th> <!-- Column header for total dry matter -->
                    <th scope="col">Action</th> <!-- Column header for actions -->
                </tr>
            </thead>
            <tbody>
                <!-- Loop through each paddock and display its details -->
                {% for paddock in paddocks %}
                    <!-- Table row with conditional formatting based on total dry matter -->
                    <tr class="text-center 
                        {% if paddock.total_dm < 1500 %}bg-danger text-white
                        {% elif paddock.total_dm < 1800 %}bg-warning text-dark
                        {% else %}bg-white{% endif %}">
                        <td>{{ paddock.name }}</td> <!-- Display paddock name -->
                        <td>{{ paddock.mob_name if paddock.mob_name else '-' }}</td> <!-- Display mob name or '-' if no mob is present -->
                        <td>{{ paddock.num_stock if paddock.num_stock else '-' }}</td> <!-- Display number of stock or '-' if no stock is present -->
                        <td>{{ paddock.area }}</td> <!-- Display paddock area -->
                        <td>{{ paddock.dm_per_ha }}</td> <!-- Display dry matter per hectare -->
                        <td>{{ paddock.total_dm }}</td> <!-- Display total dry matter -->
                        <td>
                            <!-- Button to edit paddock details -->
                            <a href="{{ url_for('edit_paddocks', paddock_id=paddock.id) }}" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}